## Descripcion del Proyecto 


Una empresa de traducción nos solicita que le brindemos una solución por medio de una base de datos que nos permita ver lo siguiente:
- El número de empleados con el que cuenta la empresa y que se pueda eliminar o añadir con base a la rotación del personal.
- Ver cuantos idiomas puede traducir cada traductor.
- Cuántos proyectos han realizado con base a los últimos 6 meses. 
- Adicional que nos brinde que calificación obtuvo *alto medio bajo*
- Ademas que se puede contabilizar cuantos traductores hay por idioma.
- Y como un adicional si se puede graficar los numeros de proyectos realizados en los ultimos 6 meses.

In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\aland\Desktop\empleados_traduccion_con_proyectos.csv')

df.head()

,Número de Empleado,Nombre,Apellidos,Idiomas que Traduce,Calificación en Proyectos,Proyectos en Junio,Proyectos en Julio,Proyectos en Agosto,Proyectos en Septiembre,Proyectos en Octubre,Proyectos en Noviembre
0,1,Danielle,Johnson,"Portugués, Francés",Medio,8,4,8,3,7,7
1,2,Joshua,Walker,"Chino, Portugués, Japonés, Italiano",Alto,2,8,0,0,4,7
2,3,Jill,Rhodes,"Español, Portugués, Alemán",Bajo,9,8,0,4,6,3
3,4,Patricia,Miller,"Árabe, Alemán",Alto,4,3,9,0,6,3
4,5,Robert,Johnson,Español,Alto,1,0,4,5,3,0